.hero-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    width: auto;
    height: auto;
    box-sizing: border-box;
    min-height: 100px;
    margin-top: -15px;

    .hero-banner {
      position: relative;
      width: 100%;
      height: 100%;
   
      .banner-img {
       width: 100%; // Scales with viewport
       height: auto; // Proportional to viewport height
       max-height: 200px;
       object-fit: cover; // Prevent distortion
       display: block;
       border-radius: 8px;
      }
    }

    .profile-picture {
        border: 1px solid rgb(232, 232, 244);
        position: absolute;
        bottom: 25px; // Overlaps the picture with the banner
        left: 100px;
        transform: translateX(-50%);
        background: transparent;
        border-radius: 50%;
        overflow: hidden;
        width: 50%;
        height: auto;
        max-width: 150px;
        img {
            width: 100%; // Scales with viewport width
            height: 100%;
            object-fit: cover;
        }
    }
   
    @media (max-width: 768px) {
        .hero-section {
            min-height: 200px;
        }
        .hero-banner .profile-picture {
            width: 40%; /* Increase size on smaller screens if needed */
            max-width: 100px;
            bottom: 5%; // Adjust for smaller screens
        }
    }
}