@use 'bootstrap/scss/bootstrap'; // Optional, if using SCSS overrides

:root {
    /* Light Theme Colors */
    --bg-color: #F0F0F0;
    --text-color: #000000;
    --navbar-bg: var(--bg-color);
    --button-bg: #0a66c2;
    --button-text: #ffffff;
    --card-bg: #F0F0F0;
    --heading-color: #0a66c2; /* LinkedIn blue */
    --border-color: #404040;
    --container-padding: 24px;
    --max-content-width: 1200px;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
   
   
    --font-size-base: 12px;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.5rem;
    --font-size-subsubheading: 1.125rem;
    --font-size-body: 1rem;
   
   
    --section-spacing: 2rem;
    --component-spacing: 1.5rem;
   }
   
   
   [data-theme="dark"] {
    /* Dark Theme Colors */
    --bg-color: #0d1117;
    --text-color: #f5f5f5;
    --navbar-bg: var(--bg-color);
    --button-bg: #1f77d0;
    --button-text: #ffffff;
    --card-bg: #161a20;
    --border-color: #404040;
    --heading-color: #1f77d0;
    --box-shadow-color: rgba(255, 255, 255, 0.2);
   }