.app-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}
  
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.main-content {
    padding: 1rem;
    flex-grow: 1;
    background-color: var(--bg-color);
}