// src/components/ExperienceTimeline/_experience-timeline.scss

.experience-timeline {
    font-family: 'IBM Plex Mono', monospace; // Moved from inline style
    padding: 1rem; // Adjust padding as needed
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 8px;
    border-top: 0.1px solid var(--border-color);
    border-bottom: 0.1px solid var(--border-color);
    
  
    h2 {
      font-size: var(--font-size-subheading);
      color: var(--heading-color);
      margin-bottom: 1.5rem;
      font-weight: 700;
    }
  
    .experience-item {
      margin-bottom: 1.5rem; // Spacing between experience items
      padding: 1rem;
      background-color: var(--bg-color);
      border-bottom: 0.1px solid var(--border-color);
      border-radius: 8px;
      border-top: 0.1px solid var(--border-color);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
  
      h4 {
        font-size: 1.25rem;
        color: var(--heading-color);
        margin-bottom: 0.5rem;
      }
  
      h5 {
        font-size: 1rem;
        color: var(--text-color);
        margin-bottom: 0.5rem;
      }
  
      p {
        font-size: var(--font-size-body);
        line-height: 1.6;
        margin-bottom: 0.75rem;
  
        em {
          font-style: italic;
          color: var(--text-color);
        }
      }
    }

    .experience-item:hover {
      transform: translateY(-2px);
      box-shadow: 0 1px 2px var(--box-shadow-color);
      background-color: var(--card-color);
    }
  }

  .experience-timeline:hover {
    transform: translateY(-2.5px);
    box-shadow: 0 1px 2px var(--box-shadow-color);
    background-color: var(--card-color);
  }