footer {
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
   }
   
   .footer {
     background-color: var(--surface-color);
     color: var(--text-color);
     text-align: center;
     padding: 0.9rem;
     border-color: #ffffff #404040 #404040 #ffffff;
     border-style: solid;
     border-width: 4px;
     border-radius: 0;
     box-shadow: 5px 5px 0 var(--box-shadow-color);
   }
   
   .footer a {
     color: var(--heading-color);
   }
   
   .footer a:hover {
     text-decoration: underline;
   }
