@use 'bootstrap/scss/bootstrap';




:root {
 /* Light Theme Colors */
 --bg-color: #F0F0F0;
 --text-color: #000000;
 --navbar-bg: var(--bg-color);
 --button-bg: #0a66c2;
 --button-text: #ffffff;
 --card-bg: #F0F0F0;
 --heading-color: #0a66c2; /* LinkedIn blue */
 --container-padding: 24px;
 --max-content-width: 1200px;
 --box-shadow-color: rgba(0, 0, 0, 0.2);


 --font-size-base: 10px;
 --font-size-heading: 1.5rem;
 --font-size-subheading: 1.125rem;
 --font-size-body: 1rem;


 --section-spacing: 2rem;
 --component-spacing: 1.5rem;
}


[data-theme="dark"] {
 /* Dark Theme Colors */
 --bg-color: #0d1117;
 --text-color: #f5f5f5;
 --navbar-bg: var(--bg-color);
 --button-bg: #1f77d0;
 --button-text: #ffffff;
 --card-bg: #242424;
 --border-color: #404040;
 --heading-color: #1f77d0;
 --box-shadow-color: rgba(255, 255, 255, 0.2);
}

.theme-toggle {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}


body, html {
 background-color: var(--bg-color);
 color: var(--text-color);
 font-family: 'IBM Plex Mono', monospace;
 font-size: var(--font-size-base);
 margin: 0;
 padding: 0;
 line-height: 1.2;
 overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
  flex-wrap: nowrap;
}

.main-content {
  padding: 1rem;
  flex-grow: 1;
}

.sidebar {
  position: sticky;
  top: 0;
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1rem;
  box-sizing: border-box;
  width: 250px;
  flex-shrink: 0;
}

.card-title, .card-subtitle, .card-text, .card-link {
  color: var(--heading-color);
}

/* Apply transitions to all elements */
* {
  transition: background-color 0.15s ease-in-out;
}


.card-subtitle {
  background-color: var(--bg-color);
  opacity: 0.8;
}

.section-title {
  color: var(--text-color);
  opacity: 0.8;
}

.sidebar-card .card-link {
  color: var(--text-color);

  &:hover {
    color: var(--text-color);
  }
}

.sidebar-card img {
  width: 100%;
  height: auto;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.skills-list {
  list-style: decimal;
  padding-left: 1.5rem;
  margin: 0;
  counter-reset: skill-counter;
}

.skills-list li {
  counter-increment: skill-counter;
  position: relative;
  margin-bottom: 1rem; // space between items
  margin-left: 0.5rem;
}

.skills-list li strong {
  color: var(--heading-color);
  display: block;
  margin-bottom: 0.25rem;
}


.skills-list li span {
  color: var(--text-color);
  opacity: 0.9;
}

.skills-list li strong, .skills-list li span {
  font-size: 0.9rem;
}

.skills-list li::marker {
  color: var(--heading-color);
  font-weight: bold;
}

.container, section, .hero-section, footer {
 background-color: var(--bg-color);
 color: var(--text-color);
 font-size: var(--font-size-body);
 font-family: 'IBM Plex Mono', monospace;
 padding: 0.125rem;
}

div {
  border: 1px solid brown;
  /*background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.8rem;
  font-size: var(--font-size-body);
  font-family: 'IBM Plex Mono', monospace;*/
}

.card.sidebar-card {
  background-color: var(--bg-color);
  width: 100%;
  margin: 0;
  text-align: left;
}

/* Adjust padding inside the card */
.card.sidebar-card .card-body {
  padding: 0.4rem;
}

.card.sidebar-card .card-title {
  font-size: var(--font-size-heading);
  color: var(--heading-color);
}

.card.sidebar-card .card-subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}


.container {
 max-width: var(--max-content-width);
 margin: 0 auto;
 padding: 0 var(--container-padding);
}

.custom-navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'IBM Plex Mono', monospace;
  border-bottom: 1px solid var(--border-color);
}

.custom-navbar .navbar-links .nav-link {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.custom-navbar .navbar-links .nav-link:hover,
.custom-navbar .navbar-links .nav-link:focus {
  color: var(--heading-color);
}

.custom-navbar .navbar-links .nav-link,
.custom-navbar .navbar-links .nav-link.active {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.custom-navbar .navbar-brand {
  margin-right: 2.5rem;
  color: var(--heading-color);
  margin-left: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
}

.custom-navbar .navbar-links .nav-link {
  margin-right: 1rem;
}

.custom-navbar .navbar-links .nav-link:hover {
  color: var(--heading-color);
}

.navbar-light .navbar-nav .nav-link {
  color: inherit;
}

.navbar-dark .navbar-nav .nav-link {
  color: inherit;
}


button.btn.btn-primary {
 background-color: var(--button-bg);
 color: var(--button-text);
 border-color: var(--button-bg);
 font-size: 1rem;
 padding: 0.4rem 0.8rem;
 margin-right: 1rem;
 margin-left: -0.5rem;
}

button.btn.btn-primary:hover {
  transform: translateY(-2.5px);
  box-shadow: 0 10px 20px var(--box-shadow-color);
  background-color: var(--button-bg);
}


button.btn.btn-outline-primary {
 border-color: var(--button-bg);
}


button.btn.btn-outline-secondary {
 color: var(--text-color);
 border-color: var(--border-color);
 margin-right: 0.5rem;
 font-size: 1rem;
 padding: 0.4rem 0.8rem;
}

button.btn.btn-outline-secondary:hover {
  transform: translateY(-2.5px);
  background-color: var(--bg-color);
  box-shadow: 0 10px 20px var(--box-shadow-color);
}

h1 {
  font-size: var(--font-size-heading);
  color: var(--heading-color);
}

h1, h2, h3, h4 {
 font-family: 'IBM Plex Mono', monospace;
}


h2 {
 border-bottom: 2px solid var(--heading-color);
 padding-bottom: 0.5rem;
 color: var(--heading-color) !important;
 font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
  color: var(--text-color);
}

h4 {
  font-size: 0.9rem;
  color: var(--text-color);
  opacity: 0.75;
}

p {
  opacity: 0.99;
}

.hero-section {
 border: 1px solid red;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 0.5rem;
 background-color: var(--bg-color);
 color: var(--text-color);
 position: relative;
 width: 100%;
 box-sizing: border-box;
}

.hero-section .hero-banner {
   position: relative;
   width: 100%;
   max-width: var(--max-content-width);

   .banner-img {
    width: 100%; // Scales with viewport
    height: auto; // Proportional to viewport height
    object-fit: cover; // Prevent distortion
    display: block;
   }
}

.hero-section .profile-picture {
  border: 2px solid green;
  position: absolute;
  bottom: 12.5%; // Overlaps the picture with the banner
  left: 20%;
  transform: translateX(-50%);
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  width: 20%;
  max-width: 150px;
  height: auto;
  img {
   width: 100%; // Scales with viewport width
   height: 100%;
   object-fit: cover;
   }
 }

 @media (max-width: 768px) {
  .hero-section .profile-picture {
    width: 20%; /* Increase size on smaller screens if needed */
    max-width: 100px;
    bottom: 5%; // Adjust for smaller screens
  }
}

.about-me {
 margin-top: -20px;
 padding-top: 0;
}

.projects {
  background-color: var(--bg-color);
}

.projects-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;

  .btn {
    opacity: 0;
    transition: opacity 0.3s;
    color: var(--button-text);
  }
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px var(--box-shadow-color);
  background-color: var(--card-bg);

  .btn {
    transition: opacity 0.3s;
    opacity: 1;
  }
}

.project-card .card-body {
  padding: 0;
}

.project-card h3 {
  color: var(--heading-color);
}

.project-card p {
  color: var(--text-color);
}

.project-card a {
  color: var(--button-bg);
}


footer {
 background-color: var(--bg-color);
 color: var(--text-color);
 text-align: center;
 padding: 1rem;
}

.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  border-top: 1px solid var(--border-color);
}

.footer a {
  color: var(--heading-color);
}

.footer a:hover {
  text-decoration: underline;
}


