// src/styles/base/global.scss

@use '../abstracts/variables';
@use '../themes/themes' as themes;
@use '../components/index' as components;


@import 'bootstrap/scss/bootstrap';

// Apply global styles
body, html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--font-size-base);
    margin: 1rem;
    padding: 0;
    line-height: 1.2;
    overflow-x: hidden;
    border: 1px solid yellow;
}

/* Apply transitions to all elements */
* {
  transition: background-color 0.15s ease-in-out;
}