@import 'bootstrap/scss/bootstrap'; // Optional, if using SCSS overrides
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@use './abstracts/variables';
@use './themes' as *;
@use './components/_index' as *;

// Apply global styles
body, html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    line-height: 1.2;
    overflow-x: hidden;
    border: 2px solid yellow !important;
}

/* Apply transitions to all elements */
* {
  transition: background-color 0.15s ease-in-out;
}